<!DOCTYPE html>
<html lang="fr">
<head>
  
    <!-- include common head -->
    <%- include('../partials/head')%>
 
    <!--css home-->
    <link rel="stylesheet" href="../CSS/home.css">
</head>
<body>
    <!-- include common header -->
     <%- include('../partials/header')%>

    <main>
      <div class="about">
      <article>
        <h1>Vos cafés de qualités à potée de mains</h1>
        <p>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique. Avec une expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.</p>
        <a class="button" href="/catalog">Découvrir notre catalogue</a>
      </article>
      <img src="../contenu_clt _images_textes/00.assets/about.jpg" alt="présentation de différents cafés">
      </div>
    <section class="latest-products">
      <h2>Nouveautés</h2>
        <ul>
          <% articles.forEach(product => { %>
          <li>
            <article>
              <img src="<%= encodeURI(product.image_path) %>" alt="<%= product.name %>">
              <div>
                <h3><%= product.name %></h3>
                <a class="button-outline" href="/article/">Voir le détail</a>
              </div>
            </article> 
          </li>
          <% }) %>
        </ul>
    </section>

    </main>

    <!-- include common footer -->
     <%- include('../partials/footer')%>
    
</body>
</html>